default_context:
  project_name: "{{cookiecutter.project_name}}"
  author_name: "{{cookiecutter.author_name}}"
  author_email: "{{cookiecutter.author_email}}"
  repo_url: "{{cookiecutter.repo_url}}"
  project_description: "{{cookiecutter.project_description}}"
  include_registration: "{{cookiecutter.include_registration}}"
  closed_registration: "{{cookiecutter.closed_registration}}"
  include_cordova: "{{cookiecutter.include_cordova}}"
  database: "{{cookiecutter.database}}"
