{
    "{{cookiecutter.project_name|upper}}_PID_PATH": "/var/run/{{cookiecutter.project_name|lower}}",
    "PYTHON_PATH": "python3.5",
    "{{cookiecutter.project_name|upper}}_ROOT": "/home/vagrant/{{cookiecutter.project_name|lower}}",
    "{{cookiecutter.project_name|upper}}_LOG_PATH": "/var/log/{{cookiecutter.project_name|lower}}",
    "rest_api_id": "",
    "rest_api_secret": "",
    "redis_database": 0,
    "log_level": "DEBUG",
    "env": "{{"{{"}}env{{"}}"}}",
    "release": "latest",
    {%- if cookiecutter.closed_registration %}
    "registration_token": "{{cookiecutter.project_name|lower}}",
    {%- endif %}
    "mongo_database_name": "{{cookiecutter.project_name|lower}}-dev",
    "mongo_host": "127.0.0.1",
    "server_port": 8000,
    "server_host": "0.0.0.0",
    "admin": {
        "env": "{{"{{"}}env{{"}}"}}",
        "log_level": "DEBUG",
        "debug": true,
        "username": "admin",
        "password": "{{cookiecutter.project_name|lower}}",
        "host": "0.0.0.0",
        "port": 31337
    },
    "email_confirmation_email": {
        "subject": "{{cookiecutter.project_name}} Email Account Confirmation",
        "html": "<p>Please click <a href='https://domain.com/confirm-email/{email_validation_token}'>here</a> to confirm your email account</p>",
        "text": "Please click here to confirm your email account: https://domain.com/confirm-email/{email_validation_token}",
        "from": {"name": "{{cookiecutter.project_name}}", "email": "no-reply@domain.com"},
        "to": [{
            "name": "{user_name}", "email": "{user_email}"
        }]
    },
    "reset_password_email": {
        "subject": "{{cookiecutter.project_name}} Reset Password",
        "html": "<p>Please click <a href='http://192.168.1.5:8080/forgottenpassword?resetPasswordToken={reset_password_token}'>here</a> to reset your password.</p>",
        "text": "Please click here to reset your password: http://192.168.1.5:8080/forgottenpassword?resetPasswordToken={reset_password_token}",
        "from": {"name": "{{cookiecutter.project_name}}", "email": "parent.j.f@gmail.com"},
        "to": [{
            "name": "{user_name}", "email": "{user_email}"
        }]
    }
}
