*.bak
*.log*
*.json
*.pkl
*.yml
*.yaml
*.swp
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~
.vagrant
.DS_Store
.Python
.cache
.coverage
.coverage.*
.idea
.installed.cfg
.noseids
.tox
.vimrc
node_modules
bin
build
cover
coverage
develop-eggs
dist-dev
docs/_build/
eggs
include/
lib/
man/
nosetests.xml
parts
pyvenv
sources
var/*
venv
virtualenv.py
.install-deps
__pycache__
.develop
.env
configs/*.json
data
configs/monitrc
last-report.html
tests/tests/states
tests/tb_results
